.env
.env.*
!.env.example
*.db
*.sqlite
*.sqlite3
*.log
*.zip
*.exe
desktop.ini
register.js
register.json

node_modules/
frontend/node_modules/
frontend/dist/
frontend/.firebase/

flyctl-bin/
ngrok-bin/

backend/agritrack.db