PORT=8080
JWT_SECRET=supersecretdevkey

# Supabase Postgres Connection
DATABASE_URL=postgresql://postgres.jockkwjvdglzmbppffwf:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
DIRECT_URL=postgresql://postgres.jockkwjvdglzmbppffwf:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
